.logo {
    width: 45px;
    height: 48px;
}

aside {
    background-color: #fff;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
}

nav {
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    scrollbar-width: thin;
    scrollbar-color: #f3f3f3;
}

nav::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

nav::-webkit-scrollbar-track {
    background: #f3f3f3;
    padding: 1px;
}

nav::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}

.nav-item a .menu-title {
    font-weight: 400;
}

.nav-item a {
    color: #3d3d3d;
    transition: ease-in-out 300ms;
}

.nav-item a .down_caret {
    transition: transform ease-in-out 300ms;
}

.nav-item a[aria-expanded="true"] .down_caret {
    transform: rotate(90deg);
}

.nav-item a:hover {
    background-color: #e9ecef;
}

.nav-item .admin, .nav-item .admin:hover {
    background-color: var(--primary-color);
    color: var(--surface-0);
    padding: auto 1rem;
}

.menu-icon {
    width: 35px;
}

hr {
    background-color: red;
}