body {
    background-color: #eff3f8 !important;
    overflow-y: hidden;
}

ul {
    padding: 0;
}

.main_content {
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.main_content.has_footer {
    min-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
}

.no-p .p-dropdown-label {
    padding-top: 9px;
    padding-bottom: 9px;
}

.p-datatable-wrapper {
    border-radius: var(--bs-border-radius) !important;
}

.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content {
    /* background: transparent; */
}

.modal-loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-loading-content {
    height: 50px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f3f3f3;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: #f3f3f3;
    padding: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}

.login {
    background: var(--light);
}

.login .login-left {
    background: var(--primary);
    min-height: 90vh;
    max-height: 90vh;
    margin: auto;
}

.login .login-right {
    padding: 0 !important;
}

.login .login-right .login-form-area {
    height: 100%;
    border-radius: 0 !important;
}

.login .login-right .login-form-area h4 {
    font-weight: 700;
    margin-top: 2rem;
}

.login .login-right .login-form-area small {
    font-weight: 500;
    opacity: .8;
}

.login .login-right .login-form-area form {
    margin: 3rem auto;
}

.login .login-right .login-form-area form label {
    font-weight: 500;
}

.login .login-right .login-form-area form input {
    width: 100%;
    border-radius: 0 !important;
}

.login .login-right .card {
    min-height: 90vh;
    max-height: 90vh;
}

.p-inputtext {
    border-radius: 0;
}